@page "/"
@page "/home"

<header class="bg-primary py-5 mb-5">
    <div class="container" h-100>
        <div class="col-lg-2">
            <img src="https://img.stackshare.io/service/8436/BrandBlazor_nohalo_1000x.png">
        </div>
        <div col-lg-10>
            <h1 class="display-4 text-white mt-5 mb-2">Desenvolvimento SPA com Blazor</h1>
            <p class="lead mb-5 text-white">Você está pronto para aprender muito sobre esse fantástico framework</p>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/crossplat.jpg" height="164px" width="253px" alt="">
                <div class="card-bory">
                    <h4 class="card-title">Multiplataforma</h4>
                    <p class="card-text">Tevjçkdçvkç kvkfçç dlkv ddklçka, oddçvuue no jpw.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/crossplat.jpg" height="164px" width="253px" alt="">
                <div class="card-bory">
                    <h4 class="card-title">Produtividade</h4>
                    <p class="card-text">Tevjçkdçvkç kvkfçç dlkv ddklçka, oddçvuue no jpw.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/crossplat.jpg" height="164px" width="253px" alt="">
                <div class="card-bory">
                    <h4 class="card-title">Funcionalidades</h4>
                    <p class="card-text">Tevjçkdçvkç kvkfçç dlkv ddklçka, oddçvuue no jpw.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/crossplat.jpg" height="164px" width="253px" alt="">
                <div class="card-bory">
                    <h4 class="card-title">Performance</h4>
                    <p class="card-text">Tevjçkdçvkç kvkfçç dlkv ddklçka, oddçvuue no jpw.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        @*<div class="col-sm col-md-2 col-lg-3 mb-4">
            <CardProduto Produto="@prod" OnClick="@DetalharProduto" />
            <div class="card card-produto">
                <img class="card-img-top" src="/assets/crossplat.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h5 class="card-title">teste</h5>
                    <p class="card-text"><small>kjbkjbjkbkbnnjknknknknknknkjnjknkjnkjnjknjknjknkjk</small></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><strong>Preço: </strong>n n  m</small>
                </div>
            </div>
        </div>*@

    </div>
</div>
